{% extends 'base.html' %}
{% block title %}
Туры {{ departure }}
{% endblock title %}

{% block content %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departure }}</h1>
    <p class="mb-4">Найдено {{ num_tours }} туров, от {{ min_price }} до {{ max_price}} и от {{ min_nights }} ночей до
        {{ max_nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for k, tour in tours.items %}

      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="{{ tour.title }}">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description|truncatechars:200 }}</p>
            <a href="/tour/{{ k }}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </main>
{% endblock content %}